
@{
    ViewData["Title"] = "Anbieterkennzeichnung";
}

<h1>Infos zum Hersteller</h1>

<p>Prozis ist der europäische Marktführer bei Sporternährung und Nahrungsergänzung</p>
<p> </p>
<p>Wer sich für Prozis interessiert und mehr über dieses Weltunternehmen erfahren möchte, sollte <b><a href="https://www.prozis.com/at/de" target="_blank">hier</a></b> klicken.</p>