@using Hauser_WebProjekt.Models
@model List<Anmeldung>

@{
    ViewData["Title"] = "Anmeldung";
}


@if ((Model == null || Model.Count == 0))
{
    <p>
        Es sind keine Anmeldungen vorhanden.
    </p>
}
else
{
    <table>
        <thead>
            <tr>
                <td>Erfolgreich registriert!</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>EMail</th>
                <th>Alter</th>
            </tr>
            @foreach (Anmeldung a in Model)
            {
            <tr>
                <td>@a.Vorname</td>
                <td>@a.Nachname</td>
                <td>@a.EMail</td>
                <td>@a.Alter</td>
            </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
}
