
@{
    ViewData["Title"] = "Index";
}

<h1>Willkommen auf unserer Website</h1>
<h1></h1>
<h4>Bei könnt ihr euch Fitnessprodukte und Fitnessgeräte kaufen</h4>
<h4>Wir bieten sogar ein spezielles Coaching-Programm an, welches garantiert zu Ihrem Traumkörper führt</h4>
