
@{
    ViewData["Title"] = "UeberUns";
}

<h1>Infos über uns</h1>

<div class="textUns">
    <p>Wir sind ein kleines Unternehmen, welches sich zur Aufgabe gemacht hat, Fitness für jeden zu ermöglichen.</p>
    <p>Deshalb haben wir:</p>
    <ul>
        <li>geringe Preise</li>
        <li>qualifiziertes und motiviertes Personal</li>
        <li>neuste Fitnessgeräte</li>
    </ul>
    <p>Unsere Produkte haben Top-Qualität und wir beziehen sie von europas größtem Fitness-Hersteller: Prozis</p>
    <p></p>
    <p>We make Austria fit again</p>
</div>
