@using Hauser_WebProjekt.Models
@model List<Artikel>

@{
    ViewData["Title"] = "Bilder";
}

<h1>Bilder</h1>

<ul>
    <li><a href="~/Bilder/Proteinpulver.png" target="_blank">Proteinpulver</a></li>
    <li><a href="~/Bilder/Creatin.jpg" target="_blank">Creatin</a></li>
    <li><a href="~/Bilder/Mulit_PRZ.jpg" target="_blank">Multi PRZ</a></li>
    <li><a href="~/Bilder/Omega-3.jpg" target="_blank">Omega 3</a></li>
    <li><a href="~/Bilder/Magnesium.jpg" target="_blank">Magnesium</a></li>
    <li><a href="~/Bilder/BigShot.jpg" target="_blank">Big Shot</a></li>
    <li><a href="~/Bilder/Kurzhanteln.jpg" target="_blank">Kurzhantel</a></li>
    <li><a href="~/Bilder/Langhantel.jpg" target="_blank">Langhantel</a></li>
    <li><a href="~/Bilder/Hantelbank.jpg" target="_blank">Hantelbank</a></li>
</ul>

