@using Hauser_WebProjekt.Models
@model List<Artikel>

@{
    ViewData["Title"] = "Index";
}



@if ((Model == null || Model.Count == 0))
{
    <p>
        Es sind keine Artikel im Shop vorhanden.
    </p>
}
else
{
    <table>
        <thead>
            <tr>
                <td>Shopartikel</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Artikel-ID</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Preis</th>
            </tr>
            @foreach (Artikel a in Model)
            {
                <tr>
                    <td>@a.ArtikelID</td>
                    <td>@a.ArtikelName</td>
                    <td>@a.Beschreibung</td>
                    <td>@a.Preis</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan=5>
                    alle Artikel unseres Shops
                </td>
            </tr>
        </tfoot>
    </table>
}