
@{
    ViewData["Title"] = "Ruecksendungen";
}

<h1>Rücksendungen</h1>
<h1></h1>
<p>Leider können wir zum jetzigen Zeitpunkt keine Produkte zurücknehmen.</p>
<p>Wir arbeiten an unserem System und werden in kürze eine Rücksende-Möglichkeit zur Verfügung stellen.</p>

